.item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item.active {
  color: var(--orange);
}

.activeDot {
  width: 10px;
  height: 10px;
  background-color: var(--orange);
  border-radius: 50%;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.edit {
  color: var(--green);
  margin-left: auto;
}

.delete {
  color: var(--brown);
}

.input {
  background: #aaa;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  font-weight: 400;
  border-radius: 3px;
  padding-inline: 1rem;
  caret-color: var(--black);
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--orange);
}
