.wrapper {
  width: calc(50% - var(--gap) / 2);
  background-color: var(--black);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 0.8rem;
  gap: 0.8rem;
}

.wrapper > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn > span {
  color: var(--white);
}

.btn.active > span {
  color: var(--beige);
}
