.loading {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  background-color: var(--green);
  border-radius: 50%;
}
