.wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 3vw, 5rem);
  width: 100%;
  justify-content: center;
}

.wrapper.pc {
  flex-direction: row;
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--black);
}

.wrapper.pc .titleWrapper {
  width: 50%;
  justify-content: center;
  background-color: var(--black);
  height: min-content;
  color: var(--white);
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: var(--orange);
}

.titleWrapper h2 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.menuWrapper {
  width: 100%;
  background-color: var(--black);
  padding: 1.4rem 2rem 4rem 2rem;
  overflow-x: hidden;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 55rem;
  margin-inline: auto;
}

.wrapper.pc .menuWrapper {
  margin-inline: 0;
}

.addBtn {
  position: fixed;
  bottom: 7rem;
  right: max(1.5rem, 5vw);
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(5rem, 10vw, 6rem);
  aspect-ratio: 1;
  border-radius: 1.6rem;
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.addBtn > span {
  font-size: clamp(3rem, 5vw, 3.5rem);
}
