.wrapper {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background: url('../../assets/background.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--navbar-height);
}

.mobile {
  height: calc(100vh - var(--mobile-menu-height) - var(--navbar-height));
  margin-top: 0;
}

.overlay {
  background-color: var(--black-alpha);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  height: 40%;
}

.content h1 {
  font-weight: 500;
  font-size: clamp(7.8rem, 10vw, 9.6rem);
}

.content h2 {
  font-weight: 300;
  font-size: clamp(3.6rem, 5vw, 4.6rem);
}

.content button {
  margin-top: auto;
  cursor: pointer;
}
