.wrapper {
  width: 100%;
  height: calc(100vh - var(--mobile-menu-height) - var(--navbar-height));
  background: url('../../assets/background.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: var(--black-alpha);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 26rem;
}

.content h1 {
  font-weight: 500;
  font-size: 7.8rem;
}

.content h2 {
  font-weight: 300;
  font-size: 3.6rem;
}

.content button {
  margin-top: auto;
  cursor: pointer;
}
