.wrapper {
  background-color: var(--black);
  height: 100vh;
  padding: 2.5rem 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main h1 {
  color: var(--white);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

.main h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #787878;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.link {
  color: var(--orange);
  font-weight: 500;
}

.form {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
